.jumbotron {
  background-image: url("https://wallpaperaccess.com/full/1970392.jpg");

  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  align-content: center;
  width: 40%;
  height: 40%;
  padding: 50px;
  margin: 40px;
  margin-left: 30%;
  font-weight: bold;
  padding-top: 50px;
  border-radius: 50px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.button {
  margin-left: 100px;
}
