/* .table {
  width: 300px;
  border-color: rgba(0, 0, 0, 0.75);
  
  margin-top: 50px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
} */

.out {
  background-image: url("https://i.pinimg.com/originals/40/b2/a9/40b2a9f66c70db9c567d6b871eb5f60d.png");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  background-color: black;
  width: 400px;
  height: 350px;
  padding: 50px;
  margin-top: 50px;
  margin-left: 13px;
  font-weight: bold;
  padding-top: 50px;
  border-radius: 50px;
  box-shadow: 10px 10px 5px 0px rgba(48, 66, 104, 0.75);
}
